.pizza-card {
  border: 1px solid #ffffff;
}

.pizza-card:hover {
  transform: scale(1.05);
}

.pizza-card img {
  border-radius: 8px 8px 0 0;
  max-height: 200px;
  object-fit: cover;
}

.pizza-card .card-body {
  padding: 15px;
}

.pizza-card .card-title {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.pizza-card .card-text {
  margin-bottom: 10px;
}

.pizza-card .btn {
  width: 45%;
}
